<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="DatabaseServer" value="10.121.92.70" />
    <add key="Databasename" value="SMAXPreProdDashBoard" />-->
    <add key="DatabaseServer" value="10.122.172.44" />
    <add key="Databasename" value="SMAXProdDashboard" />
    <add key="ClientContext" value="613625887" />
    <add key="LoginID" value="dheeraj.gaba@bureauveritas.com" />
    <add key="Password" value="Tyagi@9871" />
    <!--<add key="QueryName" value="Node_withSCCM,Node_withMcCafe,Node_withOffice" />-->
  	<add key="QueryName" value="test_alin" />
    <add key="Base_URI" value="https://cms.eu8-smax.saas.microfocus.com:443/rest-api" />
    <add key="CHUNK_SIZE" value="10000" />
    <add key="ToEmailAddresses" value="ISMSiamdashboard@bureauveritas.com" />
  </appSettings>
</configuration>